<header class="fixed w-screen p-4 bg-[#0a2239] z-50">
  <div
    class="container mx-auto text-center block sm:flex justify-between items-center"
  >
    <h1 class="text-white sm:text-2xl text-xl font-bold">Mae's Art - RMB</h1>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a href="#home-section" class="text-white">Home</a>
        </li>
        <li>
          <a href="#about-section" class="text-white">About Me</a>
        </li>
        <li>
          <a href="#artworks-section" class="text-white">Artworks</a>
        </li>
        <li>
          <a href="#costplay-section" class="text-white">Cosplay</a>
        </li>
        <li>
          <a href="#contact-section" class="text-white">Contact Me</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
