<footer class="relative bg-[#0a2239] w-full min-h-[300px] pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold text-white">Mae's Art - RMB</h4>
        <h5 class="text-lg mt-0 mb-2 text-white">
          Interested in artwork, crafting, makeup, or any commissions? Feel free
          to reach out! I typically respond within a day.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6 flex">
          <a href="https://www.facebook.com/MaeArt4222?mibextid=ZbWKwL">
            <img
              width="50"
              height="50"
              src="../../assets/images/for-website/icons8-facebook-50.png"
              alt="facebook-new"
            />
          </a>
          <a href="https://www.tiktok.com/@ms..vivi.d?_t=8puPGbcdvbb&_r=1">
            <img
              width="50"
              height="50"
              src="../../assets/images/for-website/icons8-tiktok-50.png"
              alt="facebook-new"
            />
          </a>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-white text-sm font-semibold mb-2"
              >Personal Contacts</span
            >
            <ul class="list-unstyled">
              <li class="text-white">09215975073</li>
              <li class="text-white">rmbmaesart&#64;gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1"></div>
      </div>
    </div>
  </div>
</footer>
