<div class="text-title"></div>
<div class="grid-con block sm:grid grid-cols-3 gap-4">
  <div class="bg-container bg-painting relative" (click)="Painting()">
    <p class="relative z-10 text-black">Painting</p>
  </div>

  <div class="bg-container bg-sculpture relative" (click)="Sculpture()">
    <p class="relative z-10 text-black">Sculpture</p>
  </div>

  <div class="bg-container bg-printmaking relative" (click)="PrintMaking()">
    <p class="relative z-10 text-black">Print Making</p>
  </div>

  <div class="bg-container bg-anime relative" (click)="Anime()">
    <p class="relative z-10 text-black">Anime Art</p>
  </div>

  <div class="bg-container bg-digital relative" (click)="Digital()">
    <p class="relative z-10 text-black">Digital Art</p>
  </div>

  <div class="bg-container bg-religious relative" (click)="Religious()">
    <p class="relative z-10 text-black">Religious Art</p>
  </div>

  <div class="bg-container bg-pet relative" (click)="Pet()">
    <p class="relative z-10 text-black">Pet Art</p>
  </div>

  <div class="bg-container bg-portrait relative" (click)="Portrait()">
    <p class="relative z-10 text-black">Portrait</p>
  </div>

  <div class="bg-container bg-fashioncraft relative" (click)="Fashion()">
    <p class="relative z-10 text-black">Fashion & Craft</p>
  </div>
</div>
