<h2 mat-dialog-title class="dialog-title">Print Making</h2>

<mat-dialog-content>
  <!-- Display current image -->
  <img
    [src]="images[currentIndex]"
    alt="Painting"
    class="art-image"
  />

  <div class="button-container">
    <button mat-button (click)="prevImage()" [disabled]="currentIndex === 0">
      Previous
    </button>
    <button
      mat-button
      (click)="nextImage()"
      [disabled]="currentIndex === images.length - 1"
    >
      Next
    </button>
  </div>
</mat-dialog-content>
