@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300&display=swap");


.h-screen {
  height: 100vh; 
  width: 100vw; 
  display: flex;
  overflow: hidden; 
}


.full-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/for-website/RMGhost2blue.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0; 
}


.animated-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(-100%); 
  animation: slideIn 2s forwards; 
}

.white-background {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem; 
  position: relative;
  z-index: 1; 
  mix-blend-mode: multiply;
}

.title-text {
  font-family: "Archivo", sans-serif;
  font-size: 5.5rem !important;
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transform: translateY(0); 
  animation: slideIn 2s forwards ease-in-out 1s, heartbeat 1.5s infinite,
    borderPulse 2s infinite;
  margin-bottom: 1rem;
  font-weight: bold;
  background-image: url("../../assets/images/for-website/RMGhost3blue.jpg");
  line-height: 1.2;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
  max-width: 100%;
  -webkit-text-stroke: 10px !important;
  letter-spacing: 20px;
  mix-blend-mode: multiply;
  z-index: 2;

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 3rem !important; 
    letter-spacing: 2px !important; 
    -webkit-text-stroke: 5px !important;
    font-weight: 700;
  }
}

.bio-text {
  font-family: "Playfair Display", serif; 
  font-size: 1rem; 
  line-height: 1.3rem; 
  color: black; 
  opacity: 1;
  transform: translateY(0); 
  animation: slideIn 4s forwards; 
  max-width: 100%; 
  text-align: right; 
  margin: 0; 
}
@media (min-width: 640px) {
  .white-background {
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem; 
    position: relative;
    z-index: 1; 
    mix-blend-mode: multiply;
  }

  
}
@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}


@keyframes slideIn {
  0% {
    transform: translateX(-100%); 
  }
  100% {
    transform: translateX(0); 
  }
}

@keyframes fadeInMoveUp {
  0% {
    opacity: 0;
    transform: translateY(50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@font-face {
  font-family: "Archivo";
  src: url("../../assets/fonts/Archivo.ttf") format("truetype"); 
  font-weight: bold;
  font-style: bold;
}
