<h2 mat-dialog-title>Sculpture</h2>

<mat-dialog-content>
  <!-- Display current image -->
  <img
    [src]="images[currentIndex]"
    alt="Painting"
    style="width: 100%; height: 30rem"
  />

  <!-- Navigation buttons for the carousel -->
  <div style="display: flex; justify-content: space-between; margin-top: 20px">
    <button mat-button (click)="prevImage()" [disabled]="currentIndex === 0">
      Previous
    </button>
    <button
      mat-button
      (click)="nextImage()"
      [disabled]="currentIndex === images.length - 1"
    >
      Next
    </button>
  </div>
</mat-dialog-content>
