<div class="text-title"></div>
<div class="display flex justify-around sm:border-1-2 z-30 h-[30rem]">
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Altair1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Becky1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Anya1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Tomie1.png"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Yor2.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Carrot1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Emeraude1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Gojo1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Heaven1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Hori1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Kujou1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Marin1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Nezuko1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Robin1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Robin2.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Tatsumaki1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Testarossa1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Vivi1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Dianne1.jpg"
          alt="image_cosplay"
        />
      </div>
      <!-- cutter -->
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Altair1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Becky1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Anya1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Tomie1.png"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Yor2.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Carrot1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Emeraude1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Gojo1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Heaven1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Hori1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Kujou1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Marin1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Nezuko1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Robin1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Robin2.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Tatsumaki1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Testarossa1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Vivi1.jpg"
          alt="image_cosplay"
        />
      </div>
      <div class="slide">
        <img
          src="../../assets/images/for-website/Cosplay/Dianne1.jpg"
          alt="image_cosplay"
        />
      </div>
    </div>
  </div>
</div>
