.text-title {
  background-image: url("../../assets/images/for-website/cosplay9.png");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  // padding-bottom: 270px;

  @media (max-width: 640px) {
    height: 150px; /* Allow height to adjust automatically */
    padding: 20px; /* Add padding for better spacing */
    background-size: cover; /* Use cover to fill the background */
  }
}

.slider {
  position: relative;
  background-color: #D4effc;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  // border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  .slide-track {
    display: flex;
    width: calc(1500px * 10);
    animation: scroll 60s linear infinite;

    .slide {
      width: auto;
      display: flex;
      align-items: center;
      padding: 15px;
      animation: tilt-shaking 2s infinite;
      animation-timing-function: linear;
      position: relative;
      border: 5px solid #ffffff;
      border-radius: 10px;
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.8),
        rgba(240, 240, 240, 0.8)
      );
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      margin: 0 10px;

      img {
        height: 300px;
        transition: transform 1.5s ease;
        z-index: 1;
        border-radius: 8px;
      }

      img:hover {
        transform: scale(1.5);
        z-index: 10;
        animation: heartbeat 1s ease infinite;
      }
    }
  }

  .slide-track {
    overflow: visible;
  }

  .slide-track:hover {
    animation-play-state: paused;
  }
}

/* Scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-873px * 8.5));
  }
}

/* Tilt shaking animation */
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Heartbeat animation */
@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
}
