@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

.bg {
  background-image: url("../../assets/images/for-website/bgnew.jpg"); /* Replace with your image path */
  background-size: cover; /* Ensure the image covers the entire background */
  height: 100vh;
}


.rotator {
  display: flex;
  justify-content: center;
  padding-top: 12rem;

  img {
    position: absolute;
    animation: rotate 10s linear infinite;
    opacity: 0;
    width: 250vw;
    height: auto;
  }
}

.text-container {
  text-align: center;
  padding-top: 10rem;
  h1 {
    font-family: "mainluxlight", sans-serif;
    color: aliceblue;
    font-size: 2.5rem;
  }
  p {
    font-family: "archivo", sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {


  .rotator {
    display: flex;
    justify-content: center;
    padding-top: 5rem;

    img {
      position: absolute;
      animation: rotate 10s linear infinite;
      opacity: 0;
      width: 60vw;
      height: auto;
    }
  }
  .text-container {
    text-align: center;
    padding-top: 28rem;
    h1 {
      font-family: "mainluxlight", sans-serif;
      color: aliceblue;
      font-size: 5rem;
    }
    p {
      font-family: "archivo", sans-serif;
      color: aliceblue;
      font-size: 2rem;
    }
  }
}

.rotator img:nth-child(1) {
  animation-delay: 2s;
}
.rotator img:nth-child(2) {
  animation-delay: 4s;
}
.rotator img:nth-child(3) {
  animation-delay: 6s;
}
.rotator img:nth-child(4) {
  animation-delay: 8s;
}
.rotator img:nth-child(5) {
  animation-delay: 10s;
}

@keyframes rotate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  } /* Ensure the last image fades out smoothly */
}

@font-face {
  font-family: "archivo";
  src: url("../../assets/fonts/Archivo.ttf") format("truetype"); /* Adjust the path */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mainluxlight";
  src: url("../../assets/fonts/mainluxlight.ttf") format("truetype"); /* Adjust the path */
  font-weight: normal;
  font-style: normal;
}
